/Multimedia/Pacman/nbproject/private/
/Multimedia/Pacman/build/
/Multimedia/Pacman/dist/
/Artificial Inteligence/taxiFinder/build/
/Artificial Inteligence/taxiFinder/dist/
/Artificial Inteligence/taxiFinder/nbproject/private